/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:071aed4bcdbc3a3a0c073d6798116c90$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/
.sprite {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(sprite.png);
}
.ball {
  width: 35px;
  height: 45px;
  background-position: -2px -2px;
}
.slices {
  width: 32px;
  height: 30px;
  background-position: -2px -49px;
}
