@font-face { font-family: "HelveticaNeueLTStd-Th"; src: url('./fonts/helveticaneueltstd-th.eot'); src: url('./fonts/helveticaneueltstd-th.eot?#iefix') format('eot'), url('./fonts/helveticaneueltstd-th.woff') format('woff'), url('./fonts/helveticaneueltstd-th.otf') format('opentype'); font-weight: normal; font-style: normal; }

@font-face { font-family: "QuicksandBookOblique-Regular"; src: url('./fonts/quicksand_book_oblique.eot'); src: url('./fonts/quicksand_book_oblique.eot?#iefix') format('eot'), url('./fonts/quicksand_book_oblique.woff') format('woff'), url('./fonts/quicksand_book_oblique.otf') format('opentype'); font-weight: normal; font-style: normal; }

@font-face { font-family: "QuicksandBold-Regular"; src: url('./fonts/quicksand_bold.eot'); src: url('./fonts/quicksand_bold.eot?#iefix') format('eot'), url('./fonts/quicksand_bold.woff') format('woff'), url('./fonts/quicksand_bold.otf') format('opentype'); font-weight: normal; font-style: normal; }

iframe { position: absolute; top: 0; bottom: 0; left: 0; right: 0; height: 100%; width: 100%; z-index: 0; }

.hidden { display: none; }

.clear { clear: both; }

#animation { position: absolute; width: 100%; height: 135px; background-color: #071846; background-image: url("../img/halo.png"); background-repeat: no-repeat; background-position: 50% 85px; }

#home { width: 875px; margin: 0 auto; }
#home > .separator { margin-top: 12px; }
#home > .separator img { display: block; margin-left: auto; margin-right: auto; }

#presentation { width: 100%; position: relative; margin-top: 50px; margin-left: auto; margin-right: auto; }
#presentation .logo { width: 520px; margin: 50px auto 0 auto; }
#presentation .logo img.logo { width: 100%; max-width: 100%; }
#presentation .logo h2 { color: #969696; font: normal 27px "HelveticaNeueLTStd-Th"; letter-spacing: 2px; margin-top: 10px; margin-left: 50px; }
#presentation .logo h2 strong { color: #e71b1b; font-weight: normal; }
#presentation .logo .arrow { display: block; margin-left: 260px; }
#presentation #baseline { color: black; width: 850px; height: 55px; font: normal 54px "HelveticaNeueLTStd-Th"; letter-spacing: 8px; background-color: white; text-align: center; margin-top: 10px; margin-left: auto; margin-right: auto; }
#presentation #baseline strong { color: #969696; font-weight: normal; }

#calendar { margin-top: 10px; background-color: #071846; }
#calendar:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
#calendar .entry { float: left; background-color: #071846; width: 175px; height: 175px; }
#calendar .entry .number { position: absolute; width: 20px; font: normal 36px "QuicksandBookOblique-Regular"; text-align: center; margin-left: 75px; }
#calendar .entry .number span { margin-left: 2px; }
#calendar .entry .number .separator { margin-top: 2px; width: 20px; height: 1px; }
#calendar .entry .number.pos0 span { margin-left: 8px; }
#calendar .entry .number.pos1 span { margin-left: -1px; }
#calendar .entry .number.pos2 span { margin-left: -3px; }
#calendar .entry .number.pos3 span { margin-left: -7px; }
#calendar .entry .waiter { position: absolute; width: 175px; height: 175px; }
#calendar .entry .waiter .flocon { z-index: 0; position: absolute; display: block; width: 111px; height: 110px; margin-top: 30px; margin-left: 30px; }
#calendar .entry .waiter .number { color: #245aff; margin-top: 62px; }
#calendar .entry .waiter .number .separator { background-color: #245aff; }
#calendar .entry .project { position: absolute; width: 175px; height: 175px; }
#calendar .entry .project .preview { position: absolute; }
#calendar .entry .project .tooltip { -webkit-transform: scale(0.8); -moz-transform: scale(0.8); -ms-transform: scale(0.8); -o-transform: scale(0.8); transform: scale(0.8); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: all 200ms ease-out; -moz-transition: all 200ms ease-out; -o-transition: all 200ms ease-out; transition: all 200ms ease-out; position: absolute; text-align: center; font: normal 10px/30px "QuicksandBold-Regular"; color: #d81919; background-color: white; width: 115px; height: 30px; margin-left: 30px; margin-top: 75px; }
#calendar .entry .project .curtain { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; -webkit-transition: all 400ms ease-out; -moz-transition: all 400ms ease-out; -o-transition: all 400ms ease-out; transition: all 400ms ease-out; display: block; position: absolute; width: 175px; height: 175px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 30, 30, 0.8)), color-stop(100%, #a81414)); background-image: -webkit-linear-gradient(rgba(255, 30, 30, 0.8), #a81414); background-image: -moz-linear-gradient(rgba(255, 30, 30, 0.8), #a81414); background-image: -o-linear-gradient(rgba(255, 30, 30, 0.8), #a81414); background-image: linear-gradient(rgba(255, 30, 30, 0.8), #a81414); color: white; }
#calendar .entry .project .curtain .number { margin-top: 40px; }
#calendar .entry .project .curtain .number .separator { background-color: white; }
#calendar .entry .project .curtain .description { margin-top: 100px; text-align: center; font: normal 10px "QuicksandBold-Regular"; }
#calendar .entry .project .icon { margin-top: 30px; margin-left: 80px; }
#calendar .entry .project:hover .tooltip { display: block; -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; -webkit-transition: all 200ms ease-out; -moz-transition: all 200ms ease-out; -o-transition: all 200ms ease-out; transition: all 200ms ease-out; }
#calendar .entry .project:hover .curtain { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: all 300ms ease-out; -moz-transition: all 300ms ease-out; -o-transition: all 300ms ease-out; transition: all 300ms ease-out; }

#creators { margin-bottom: 100px; }
#creators:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
#creators > .title { color: #969696; font: normal 27px "HelveticaNeueLTStd-Th"; letter-spacing: 2px; width: 240px; height: 32px; text-align: center; background-color: white; margin-top: 10px; margin-left: auto; margin-right: auto; }
#creators > .title strong { color: #e71b1b; font-weight: normal; }
#creators .entries { margin-top: 10px; }
#creators .entries .entry { float: left; width: 175px; height: 355px; }
#creators .entries .entry .avatar { width: 175px; height: 175px; }
#creators .entries .entry .content { margin-top: -6px; }
#creators .entries .entry .content .bg { position: absolute; }
#creators .entries .entry .content .description { position: absolute; width: 175px; margin-top: 20px; text-align: center; }
#creators .entries .entry .content .description .title { color: #d81919; font: normal 10px "QuicksandBold-Regular"; }
#creators .entries .entry .content .description .title h3 { font-weight: normal; text-transform: uppercase; }
#creators .entries .entry .content .description .title h3 a { color: #d81919; }
#creators .entries .entry .content .description .title span { display: block; margin-top: 7px; }
#creators .entries .entry .content .description .icons { margin-top: 3px; margin-left: 83px; }
#creators .entries .entry .content .description .icons img { display: block; }
#creators .entries .entry .content .description .icons .wave { margin-top: -13px; margin-left: -6px; }
#creators .entries .entry .content .description .description { width: 130px; text-transform: uppercase; font: normal 10px "QuicksandBold-Regular"; color: #494949; margin-top: 10px; margin-left: 22px; margin-right: auto; }

@media screen and (min-width: 480px) and (max-width: 768px) { #home { width: 525px; }
  #presentation #baseline { font-size: 25px; width: 500px; height: 40px; padding: 15px 0 0 0; } }
@media screen and (min-width: 768px) { #presentation #baseline { font-size: 37px; width: 670px; height: 50px; padding: 15px 0 0 0; }
  #home { width: 700px; } }
@media screen and (min-width: 875px) { #presentation #baseline { width: 850px; height: 55px; font: normal 54px "HelveticaNeueLTStd-Th"; padding: 0 0 8px 0; }
  #home { width: 875px; } }
@media screen and (max-width: 875px) { header div.center { width: 95%; } }
@media only screen and (max-width: 480px) { header div.center { width: 100%; }
  #presentation .logo { width: 320px; }
  #presentation .logo h2 { text-align: center; font-size: 23px; margin: 0 auto; }
  #presentation .logo .arrow { margin: 0 auto; }
  #presentation #baseline { display: none; }
  #home { width: 300px; }
  #home #calendar .entry { width: 50%; height: 150px; }
  #home #calendar .entry a { display: block; width: 100%; }
  #home #calendar .entry a .project { width: 150px; height: 150px; }
  #home #calendar .entry a .project .preview { width: 100%; max-width: 100%; }
  #home #calendar .entry a .project .curtain { width: 150px; height: 150px; }
  #home #calendar .entry a .project .curtain .number { margin: 30px 0 0 65px; }
  #home #calendar .entry a .project .curtain .description { margin: 85px 0 0 0; }
  #home #calendar .entry a .project .curtain .icon { margin-left: 70px; }
  #home #calendar .entry a .project .tooltip { margin-left: 17px; margin-top: 65px; }
  #home #calendar .entry .waiter .flocon { margin-left: 18px; margin-top: 18px; }
  #home #calendar .entry .waiter .number { margin-top: 55px; margin-left: 60px; }
  #home #creators .entries .entry { width: 150px; } }
